<!-- mfc-hide-until-ready="mfc-hide-until-ready" mfc-wait-info-control="mfc-wait-info-control" ng-hide="showWaitInfo && !isParentWaitInfo" -->
<div class="mfc-card" [ngClass]="mfcProperties.classname" *ngIf="!mobile || mobile && visibleOnMobile">
    <h2 class="mfc-card-head__title" *ngIf="mfcProperties.title" ng-class="{'mfc-card-head__title--with-tooltip': helpFieldPosition=='title' && helpText}"><i class="mfc-card-head__icon mfc-icon" ng-if="icon" ng-class="icon"></i>{{mfcProperties.title}}
        <!-- <mfc-help-field mfc-properties="{      'name': 'help-field-{{name}}',      'helpFieldMode':'{{helpFieldMode}}',      'helpText':'{{helpText}}',      'helpTextUrl': '{{helpTextUrl}}',      'status': 'normal'}" ng-if="helpFieldPosition=='title' && helpText"></mfc-help-field> -->
    </h2>
    <h3 class="mfc-card__subtitle" *ngIf="mfcProperties.subtitle" ng-class="{'mfc-card__subtitle--with-tooltip': helpFieldPosition=='subtitle' && helpText}">{{mfcProperties.subtitle}}
        <!-- <mfc-help-field mfc-properties="{        'name': 'help-field-{{name}}',        'helpFieldMode':'{{helpFieldMode}}',        'helpText':'{{helpText}}',        'helpTextUrl': '{{helpTextUrl}}',        'status': 'normal'}" ng-if="helpFieldPosition=='subtitle' && helpText"></mfc-help-field> -->
    </h3>
    <mfc-riched-content class="mfc-card__description" *ngIf="mfcProperties.content && mfcProperties.content.description" [mfcProperties]="richedTextDescription"></mfc-riched-content>
    <!-- <mfc-help-field class="mfc-card__description__tooltip" mfc-properties="{    'name': 'help-field-{{name}}',    'helpFieldMode':'{{helpFieldMode}}',    'helpText':'{{helpText}}',    'helpTextUrl': '{{helpTextUrl}}',    'status': 'normal'}" ng-if="helpFieldPosition=='description' && helpText"></mfc-help-field> -->
    <img [class]="'mfc-card-img mfc-card-img--' + mfcProperties.imagePosition" *ngIf="mfcProperties.content && mfcProperties.content.imgDesktopUrl && !mobile" src="{{mfcProperties.content.imgDesktopUrl}}" />
    <img [class]="'mfc-card-img mfc-card-img--' + mfcProperties.imagePosition" *ngIf="mfcProperties.content && mfcProperties.content.imgMobileUrl && mobile" src="{{mfcProperties.content.imgMobileUrl}}" />
    <mfc-riched-content class="mfc-card__description" *ngIf="mfcProperties.content && mfcProperties.content.descriptionPost" [mfcProperties]="richedTextDescriptionPost"></mfc-riched-content>
</div>