@import '../styles.scss';
.mfc-card {
    .mfc-card-head__title {
        display: inline-block;
        font-family: $mfc-font-family__notosans;
        font-size: 25px;
        font-weight: bold;
    }
    .mfc-card-head__title--with-tooltip {
        .mfc-help-icon {
            float: none;
            margin-bottom: 0;
            vertical-align: middle;
            display: inline-block;
            margin-top: -3px;
        }
        .mfc-tooltip {
            font-weight: 400;
        }
    }
    .mfc-card-head__icon {
        padding-right: $mfc-standard-padding;
        vertical-align: middle;
    }
    .mfc-card__subtitle {
        font-family: $mfc-font-family__notosans;
        font-size: 15px;
    }
    .mfc-card__subtitle--with-tooltip {
        .mfc-help-icon {
            display: inline-block;
            float: none;
            margin-bottom: 0;
            margin-left: 5px;
            vertical-align: bottom;
        }
    }
    .mfc-card__description {
        font-family: $mfc-font-family__notosans;
        font-size: $mfc-fnt-s;
        line-height: 23px;
        padding-top: 16px;
        text-align: justify;
    }
    @include specific-label-size('font-size-18', 'mfc-card__description', 18);
    .mfc-card__description--with-tooltip {
        max-width: calc(100% - 30px);
        display: inline-block;
    }
    .mfc-card__description__tooltip {
        display: inline-block;
        vertical-align: bottom;
    }
    .mfc-card-img--left,
    .mfc-card-img--right,
    .mfc-card-img--center {
        margin: $mfc-md-standard-padding;
    }
    .mfc-card-img--left {
        float: left;
        max-width: 50%;
    }
    .mfc-card-img--right {
        float: right;
        max-width: 50%;
    }
    .mfc-card-img--center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &.page-title {
        text-align: center;
        font-size: 15px;
        .mfc-card__description {
            text-align: center;
        }
    }
    &.line-background {
        position: relative;
        .mfc-card__subtitle {
            font-weight: 700;
            background: $mfc-white;
            padding-left: 15px;
            padding-right: 15px;
            z-index: 2;
            position: relative;
            margin: 0;
            display: inline-block;
        }
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $mfc-gray__lighter;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
}

.mfc-u-rtl .mfc-card {
    .mfc-card-head__icon {
        padding-left: $mfc-standard-padding;
        padding-right: 0;
    }
    // .mfc-icon--car::before {
    //   font-size: $mfc-fnt-m;
    // }
}

@media (min-width: 960px) {
    .mfc-card {
        &.page-title {
            width: 75%;
            margin: 0 auto;
            &.super-extra-narrow {
                width: 40%;
            }
            &.extra-narrow {
                width: 50%;
            }
            &.medium-narrow {
                width: 60%;
            }
            .mfc-riched-content {
                width: 75%;
                margin: 0 auto;
            }
        }
    }
}