$current: 1;
$totalSpaces: 75;
$increment: 1;

@while $current <= $totalSpaces {
  .space-top-#{$current} {
    margin-top: $current+px !important;
  }
  .space-bottom-#{$current} {
    margin-bottom: $current+px !important;
  }
  .space-left-#{$current} {
    margin-left: $current+px !important;
  }
  .space-right-#{$current} {
    margin-right: $current+px !important;
  }
  $current: $current + $increment;
}
