.mfc-u-card {
    .mfc-u-card-head__title {
        display: inline-block;
        font-family: $mfc-font-family__notosans;
        font-size: 17px;
    }
    .mfc-u-card-head__icon {
        padding-right: $mfc-standard-padding;
        vertical-align: middle;
    }
    .mfc-u-card__subtitle {
        font-family: $mfc-font-family__notosans;
        font-size: 15px;
    }
    .mfc-u-card__description {
        font-family: $mfc-font-family__notosans;
        font-size: $mfc-fnt-s;
        line-height: 23px;
        padding-top: 16px;
        text-align: justify;
    }
    .mfc-u-card-img--left,
    .mfc-u-card-img--right,
    .mfc-u-card-img--center {
        margin: $mfc-md-standard-padding;
    }
    .mfc-u-card-img--left {
        float: left;
        max-width: 50%;
    }
    .mfc-u-card-img--right {
        float: right;
        max-width: 50%;
    }
    .mfc-u-card-img--center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.mfc-u-rtl .mfc-u-card {
    .mfc-u-card-head__icon {
        padding-left: $mfc-standard-padding;
        padding-right: 0;
    }
    .mfc-icon--car::before {
        font-size: $mfc-fnt-m;
    }
}