.mfc-u-calendar {
  background-color: $mfc-white;
  color: $mfc-black;
  display: inline-block;
  font-family: $mfc-font-family__notosans;

  @include specific-label-size('font-size-13', 'mfc-u-calendar__title', 13);
  @include specific-label-size('font-size-20', 'mfc-u-calendar__title', 20);
  @include specific-label-weight('font-normal', 'mfc-u-calendar__title', 400);

  .mfc-form-field__info-area {
    font-size: 12px;
    margin-top: 6px;
    padding-left: 5px;
  }

  .mfc-form-field__info-area__error-container__error-item {
    display: none;
    margin: 0;
    font-size: $mfc-fnt-s;
  }

  .mfc-u-calendar__label {
    color: $mfc-gray__super_dark;
    font-size: $mfc-fnt-s;
  }

  .mfc-u-calendar__title {
    color: $mfc-gray__super_dark;
    font-size: $mfc-fnt-label;
    font-weight: 700;
    margin: 0;
  }
  .mfc-u-calendar__container {
    background-color: $mfc-white;
    box-shadow: 0 6px 19px -1px $mfc-black-50;
    height: 100%;
    width: 100%;

    &.mfc-u-calendar__container--error {
      border: 2px solid $mfc-red__light;
    }
  }

  .mfc-u-calendar__calendar {
    line-height: 1.429;
    text-align: center;
    width: 100%;
  }

  .mfc-u-calendar__header {
    border: 1px solid $mfc-gray__lighter;
    border-bottom: 0;
    font-size: 10px;
    padding: 8.5px;
    width: 100%;
  }

  .mfc-u-calendar__header__prev {
    color: $mfc-gray;
    float: left;
    width: 5%;
  }

  .mfc-u-calendar__header__next {
    color: $mfc-gray;
    float: right;
    text-align: right;
    width: 5%;
  }

  .mfc-u-calendar__header__next:active,
  .mfc-u-calendar__header__prev:active {
    outline: none;
  }

  .mfc-u-calendar__header__content {
    color: $mfc-black;
    float: left;
    font-weight: bold;
    text-align: center;
    width: 90%;
  }

  .mfc-u-calendar__header__weekdays {
    border: 1px solid $mfc-gray__lighter;
    border-top: 0;
    color: $mfc-gray;
    font-size: 10px;
  }

  .mfc-u-calendar__header__weekdays__days {
    padding: 5px;
    text-align: center;
  }
  /** DIAS DEL MES **/
  .mfc-u-calendar__day__default {
    border: 1px solid $mfc-gray__lighter;
    font-size: 11px;
    height: 38px;
    outline: 0;
    text-align: center;
    width: 41px;
  }

  .mfc-u-calendar__day__default:not(.mfc-u-calendar__day__selected):not(.mfc-u-calendar__day__disabled) {
    &:hover,
    &:focus {
      background-color: $mfc-red__mapfre2-01;
    }
  }

  .mfc-u-calendar__day__default:not(.mfc-u-calendar__day__disabled) {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  .mfc-u-calendar__day__disabled {
    background-color: $mfc-gray__lighter;
    color: $mfc-gray__radio;
    cursor: not-allowed;
    outline: none;
  }

  .mfc-u-calendar__day__actual {
    border: 2px solid $mfc-red__mapfre2;
  }

  .mfc-u-calendar__day__prevmonth,
  .mfc-u-calendar__day__nextmonth {
    background-color: $mfc-white;
    color: rgba($mfc-gray__super_dark, .5);

    &.mfc-u-calendar__day__disabled {
      background-color: rgba($mfc-gray__super_dark, .05);
      color: rgba($mfc-gray__super_dark, .2);
    }
  }

  .mfc-u-calendar__day__selected:not(.mfc-u-calendar__day__disabled) {
    background-color: $mfc-red__mapfre2;
    color: $mfc-white;
  }
}


@media(min-width: 768px) {
  .mfc-u-calendar {
    .mfc-u-calendar__container {
      width: 300px;
    }
  }
}

@media(min-width: 768px) {
  .mfc-u-calendar {

    .mfc-u-calendar__container {
      width: 598px;
    }

    .mfc-u-calendar__header {
      font-size: 18px;
      padding: 21.5px 15px;
    }

    .mfc-u-calendar__header__weekdays {
      font-size: 14px;
    }

    .mfc-u-calendar__header__weekdays__days {
      padding: 10px;
    }

    .mfc-u-calendar__day__default {
      font-size: 16px;
      height: 55px;
      width: 55px;
    }
  }
}

@media(min-width: 960px) {
  .mfc-u-calendar {

    .mfc-u-calendar__container {
      width: 589px;
    }

    .mfc-u-calendar__header {
      font-size: 18px;
      padding: 15px;
    }

    .mfc-u-calendar__day__default {
      height: 75px;
      width: 78px;
    }
  }
}
