.mfc-layout {
  .mfc-layout__main-container__aside {
    .mfc-price-summary{
      background: $mfc-red__mapfre;
      .mfc-price-summary__model {
        .mfc-price-summary__model__head {
          .mfc-price-summary__model__head__title {
            font-size: 18px;
            text-align: center;
            margin: 0;
            font-weight: bold;
          }
        }
        .mfc-price-summary__model__info {
          background: $mfc-red__mapfre;
          color: #fff;
          width: 100%;
          padding: 10px 20px;
          .mfc-price-summary__model__info--img,
          .mfc-price-summary__model__info--title {
            display: inline-block;
            float: none;
          }
        }
      }
    }
  }
}
