/* You can add global styles to this file, and also import other style files */

* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

@import './styles/_animations';
@import './styles/_colors';
@import './styles/_fonts';
@import './styles/_form_field';
@import './styles/_icons';
@import './styles/_layout';
@import './styles/_mixins';
@import './styles/_spaces';
@import './styles/_standard_link';
@import './styles/_theme_material';
@import './styles/mfc-shadow-box.scss';
@import './styles/mfc-u-calendar.scss';
@import './styles/mfc-u-card.scss';
@import './styles/mfc-u-folding-box.scss';
@import './styles/mfc-u-horizontal-list.scss';
@import './styles/mfc-u-input.scss';
@import './styles/mfc-u-layout-elements.scss';
@import './styles/mfc-u-riched-content.scss';
@import './styles/mfc-u-shadow-box.scss';
.mfc-invisible {
    display: none;
}

.mfc-main-container {
    background: url('/assets/media/imagen-fondo-vida_tcm1504-429122.jpg') -600px calc(100% - 55px) no-repeat;
    max-width: 100vw;
    // max-height: 100vh;
    main {
        min-height: calc(100vh - 130px);
    }
}


/** Header **/

.mfc-header .mfc-header__content .mfc-header__content__contact__button__contact-button {
    font-size: 16px;
    .mfc-icon {
        font-size: 30px;
    }
}


/** Footer **/

@media (min-width: 960px) {
    .mfc-footer .mfc-footer__main--list-links {
        margin-bottom: 0 !important;
    }
}


/** Card **/

@media (min-width: 960px) {
    .page-title.mfc-card {
        width: 75%;
        margin: 0 auto;
    }
}

.mfc-card .mfc-card-head__title {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.page-title.mfc-card .mfc-card__description {
    text-align: center;
    font-size: 15px !important;
}

@media (min-width: 960px) {
    .rgpdue.mfc-card {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
        padding: 0 10% !important;
    }
}

.rgpdue.mfc-card .mfc-card-head__title {
    display: block;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 15px !important;
}


/** Standard Date **/

@media (min-width: 960px) {
    .classic-left .mfc-standard-date {
        width: 488px;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 960px) {
    .classic-left .mfc-standard-date .mfc-standard-date__label {
        width: 40% !important;
        float: left !important;
        text-align: right !important;
        margin-right: 5% !important;
        height: 1em !important;
        transform: translateY(60%);
        margin-bottom: 0;
        margin-left: -22.5% !important;
    }
}

@media (min-width: 960px) {
    .classic-left .mfc-standard-date .mfc-standard-date__calendar {
        width: 55% !important;
        float: left !important;
        padding: 8px !important;
    }
}

@media (min-width: 960px) {
    .classic-left .mfc-standard-date .mfc-form-field__info-area {
        padding-left: 45%;
        margin-left: -22.5%;
    }
}

@media (min-width: 960px) {
    .before-rgpdue.mfc-standard-button {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 960px) {
    .mfc-standard-button .mfc-standard-button__container.next-available {
        text-align: center !important;
    }
}

@media (min-width: 960px) {
    .mfc-standard-button .mfc-standard-button__container.next-available .mfc-standard-button-next {
        float: none;
        width: 268px;
        min-width: auto;
        max-width: none;
    }
}


/** Layout **/

@media (min-width: 960px) {
    .mfc-layout__main-container__fullwidth {
        padding-bottom: 200px !important;
    }
}

.mfc-layout {
    overflow: hidden !important;
    &.content {
        padding: 0;
    }
    main {
        padding-left: 15px;
        padding-right: 15px;
        @media only screen and (max-width: 959px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media only screen and (min-width: 960px) {
        .mfc-layout__main-container__content {
            min-height: 73vh;
            border-right: solid 2px #f9f8f8;
            padding-right: 55px;
        }
        .mfc-layout__main-container__aside {
            padding-left: 55px;
        }
    }
    @media only screen and (max-width: 959px) {
        & {
            background: none !important;
        }
        .mfc-layout__main-container__content {
            &.content {
                width: 100%;
                padding-right: 15px;
            }
        }
    }
}


/** Deyde **/

@media (min-width: 960px) {
    .classic-left .mfc-number-field {
        width: 488px;
        margin: 0 auto;
        position: relative;
        clear: both;
    }
}

@media (min-width: 960px) {
    .classic-left .mfc-number-field .mfc-number-field__inputContainer {
        display: inline-block;
        width: 55%;
    }
}

@media (min-width: 960px) {
    .classic-left .mfc-number-field .mfc-number-field__label {
        width: 40%;
        float: left;
        text-align: right;
        margin-right: 5%;
        height: 1em;
        transform: translateY(60%);
        margin-bottom: 0;
        margin-left: -22.5%;
    }
}