@mixin specific-label-size($name, $element, $size){
	&.#{$name} {
    .#{$element} {
      font-size: $size + px;
    }
	}
}
@mixin specific-label-weight($name, $element, $weight){
  &.#{$name} {
    .#{$element} {
      font-weight: $weight;
    }
  }
}
