.mfc-u-horizontal-list {
  font-family: $mfc-font-family__notosans;

  .mfc-help-icon {
    margin-top: 3px;
  }

  .mfc-form-field__info-area {
    margin: 0;
    float: left;
    width: 100%;
  }
  &.mfc-u-horizontal-list--status-error {
    .mfc-u-horizontal-list__container__list {
      background-color: $mfc-red__lighter;
      border-color: $mfc-red__light;
      color: $mfc-gray__radio;

      .mfc-u-horizontal-list__container__list__item {
        border-color: $mfc-red__light;
      }
    }
  }

  &.mfc-u-horizontal-list--status-disabled {

    .mfc-u-horizontal-list__legend {
      color: $mfc-gray__radio;
    }

    .mfc-u-horizontal-list__container__list__item__input {
      cursor: not-allowed;
    }

    .mfc-u-horizontal-list__container__list__item__label {
      background-color: $mfc-white__light;
      border-color: $mfc-gray__lighter;
      color: $mfc-gray__radio;
      cursor: not-allowed;
    }

    .mfc-u-horizontal-list__container__list {
      border: solid 1px $mfc-gray__lighter;

      .mfc-u-horizontal-list__container__list__item {
        border-right: solid 1px $mfc-gray__lighter;

        &:first-child {
          .mfc-u-horizontal-list__container__list__item__label {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
          }
        }

        &:last-child {
          .mfc-u-horizontal-list__container__list__item__label {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
      }
    }

    .mfc-u-horizontal-list__container__text-help {
      color: $mfc-gray__radio;
    }
  }

  .mfc-u-horizontal-list__legend {
    border: 0;
    float: left;
    font-size: $mfc-fnt-s;
    margin-bottom: 10px;
    padding-top: 3px;
    width: auto;
  }

  .mfc-u-horizontal-list__legend--disabled {
    color: $mfc-gray__radio;
  }

  .mfc-standard-text__legend {
    color: $mfc-gray__super_dark;
    display: inline-block;
  }

  .mfc-u-horizontal-list__container__list {
    background: $mfc-white;
    border-radius: 5px;
    border: solid 1px $mfc-gray__input-selected;
    float: left;
    list-style: none;
    overflow: hidden;
    padding: 0;
    width: 100%;
    margin: 0;

    .mfc-u-horizontal-list__container__list__item:last-child {
      border-right: 0;
    }
  }

  .mfc-u-horizontal-list__container__list__item {
    border-right: solid 1px $mfc-gray__input-selected;
    float: left;
    max-height: 40px;
    overflow: hidden;

    &:focus {
      outline: auto 5px;
    }
  }

  .mfc-u-horizontal-list__container__list--two-column {
    .mfc-u-horizontal-list__container__list__item {
      width: 50%;

      .mfc-u-horizontal-list__container__list__item__label {
        width: 100%;
      }
    }
  }

  .mfc-u-horizontal-list__container__list--three-column {
    .mfc-u-horizontal-list__container__list__item {
      width: 33.33%;

      .mfc-u-horizontal-list__container__list__item__label {
        width: 100%;
      }
    }
  }

  .mfc-u-horizontal-list__container__list--four-column {
    .mfc-u-horizontal-list__container__list__item {
      width: 25%;

      .mfc-u-horizontal-list__container__list__item__label {
        width: 100%;
      }
    }
  }

  .mfc-u-horizontal-list__container__list__item__label {
    cursor: pointer;
    margin: 0;
    min-width: 70px;
    outline: 0;
    padding: 10px 15px;
    text-align: center;

    i {
      display: none;
    }

    b {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mfc-u-horizontal-list__container__list__item__input {
    border: 0;
    height: 0;
    margin: -1px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 0;

    &:focus + label {
      outline: auto 5px;
    }

    &:checked + label {
      background-color: $mfc-blue;
      color: $mfc-white;
      outline: 0;
      padding: 10px 15px 10px 10px;

      i {
        color: $mfc-white;
        display: inline;
        padding-right: 10px;
        padding-top: 2px;
      }
    }
  }

  .mfc-u-horizontal-list__container {
    clear: left;
    float: left;
    width: 100%;
  }

  .mfc-u-horizontal-list__container__text-help {
    clear: left;
    color: $mfc-gray__super_dark;
    float: left;
    font-size: $mfc-fnt-xs;
  }

  @media (min-width: 768px) {
    &.mfc-u-horizontal-list--two-column {
      width: 100%;

      .mfc-help-icon {
        float: left;
      }
    }

    &.mfc-u-horizontal-list--four-column,
    &.mfc-u-horizontal-list--three-column {
      width: 586px;
    }

    .mfc-u-horizontal-list__container__list--two-column {
      width: 390px;
    }

      //CLASSIC-LEFT
    &.mfc-u-horizontal-list__classic-left {
      .mfc-help-icon {
        float: none;
        margin-top: 10px;
      }

      &.mfc-u-horizontal-list--two-column {
        .mfc-help-icon {
          margin-left: 215px;
          position: absolute;
        }
      }

      &.mfc-u-horizontal-list--four-column,
      &.mfc-u-horizontal-list--three-column {
        width: auto;
      }

      .mfc-u-horizontal-list__legend {
        padding-bottom: 30px;
        padding-top: 11px;
        text-align: right;
        width: 28%;
      }

      .mfc-u-horizontal-list__container {
        clear: none;
        margin-left: 40px;
        width: 282px;
      }

      &.mfc-u-horizontal-list--status-disabled {
        .mfc-u-horizontal-list__container__list__item__label {
          background: none !important;
        }

        .mfc-u-horizontal-list__container__list {
          background: $mfc-white__light;
        }
      }
    }
  }
}

.mfc-u-rtl {
  .mfc-u-horizontal-list {

    .mfc-u-horizontal-list__legend {
      float: right;
    }

    .mfc-u-horizontal-list__container__list {
      float: right;

      .mfc-u-horizontal-list__container__list__item:last-child {
        border-left: 0;
      }
    }

    .mfc-u-horizontal-list__container__list__item {
      border-left: solid 1px $mfc-gray__input-selected;
      border-right: 0;
      float: right;
    }

    .mfc-u-horizontal-list__container {
      clear: right;
      float: right;
    }

    .mfc-u-horizontal-list__container__text-help {
      clear: right;
      float: right;
    }

    &.mfc-u-horizontal-list--status-disabled {

      .mfc-u-horizontal-list__container__list {
        border: solid 1px $mfc-gray__lighter;

        .mfc-u-horizontal-list__container__list__item {
          border-left: 1px solid $mfc-gray__lighter;
          border-right: 0;

          &:first-child {
            .mfc-u-horizontal-list__container__list__item__label {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }
          }

          &:last-child {
            border-left: 0;

            .mfc-u-horizontal-list__container__list__item__label {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      &.mfc-u-horizontal-list--two-column {
        .mfc-help-icon {
          float: right;
        }
      }

        //CLASSIC-LEFT
      &.mfc-u-horizontal-list__classic-left {
        &.mfc-u-horizontal-list--two-column {
          .mfc-help-icon {
            margin-left: 0;
            margin-right: 215px;
          }
        }

        .mfc-u-horizontal-list__legend {
          margin-left: 40px;
          text-align: left;
        }

        .mfc-u-horizontal-list__container {
          clear: none;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
