<header class="mfc-header {{mfcProperties.classname}}" [ngClass]="{'mfc-header--fixed': mfcProperties.isFixed}">
    <div class="mfc-header__precontent" *ngIf="mfcProperties.upperBar">
        <div class="mfc-header__precontent__container"><img class="mfc-header__precontent__main__logo" alt="{{logoUpperBarImageAlt ? logoUpperBarImageAlt : ''}}" [src]="mfcProperties.logoUpperBar" *ngIf="mfcProperties.logoUpperBar" /></div>
    </div>
    <div class="mfc-header__content">
        <div class="mfc-header__content__main mfc-u-vertical-alligned" [ngClass]="{'mfc-header__content__main--modified' : mfcProperties.logoPosition!=='center'}"><img class="mfc-header__content__main__logo" alt="{{mfcProperties.logoImageAlt ? mfcProperties.logoImageAlt : ''}}" [src]="mfcProperties.logo" *ngIf="mfcProperties.logo && !mfcProperties.isLogoLink" />
            <a class="mfc-header__content__main__link" *ngIf="mfcProperties.logo && mfcProperties.isLogoLink" title="{{mfcProperties.manageLinkLogo.title}}" (click)="manageLink(mfcProperties.manageLinkLogo.type, mfcProperties.manageLinkLogo.target)" href="href"><img class="mc-header__content__main__logo" alt="{{mfcProperties.logoImageAlt ? mfcProperties.logoImageAlt : ''}}" [src]="mfcProperties.logo" /></a>
        </div>
        <div class="mfc-header__content__heading" [ngClass]="{'sr-only': mfcProperties.hideTitle}">
            <h1 class="mfc-header__content__heading__element">{{ mfcProperties.title }}</h1>
            <h2 class="mfc-header__content__heading__text" *ngIf="mfcProperties.subtitle">{{ mfcProperties.subtitle }}</h2>
        </div>
        <section class="mfc-header__content__contact" [ngClass]="{'mfc-u-vertical-alligned': mfcProperties.logoPosition==='center', 'mfc-header--padded': !mfcProperties.iconLinks}">
            <div class="mfc-header__content__contact__phone row" *ngIf="mfcProperties.contactPhone" [ngClass]="{'mfc-header__content__contact__phone--only-phone' : !mfcProperties.contactButton && !mfcProperties.contactUs , 'mfc-header__content__contact__phone--only-phone--up' : mfcProperties.logoPosition!=='center'}">
                <p class="mfc-header__content__contact__phone__text"><i class="mfc-icon mfc-icon--phone mfc-header__content__contact__phone__icon"></i>{{ mfcProperties.contactPhone }}</p>
            </div>
            <section class="mfc-header__content__contact__button" *ngIf="mfcProperties.contactButton">
                <div class="mfc-header__content__contact__button" [ngClass]="{'mfc-header__content__contact__button--not-unique': mfcProperties.contactPhone}">
                    <p class="mfc-header__content__contact__button__label" *ngIf="mfcProperties.contactButtonLabel">{{ mfcProperties.contactButtonLabel }}</p>
                    <a class="mfc-header__content__link mfc-header__content__contact__button__contact-button" *ngIf="mfcProperties.contactInfo.url && mfcProperties.contactInfo.open != 'popup'" href="{{mfcProperties.contactInfo.url}}" target="{{mfcProperties.contactInfo.open}}"><i class="mfc-icon mfc-icon--headset"></i>{{ mfcProperties.contactButton }}</a>
                    <a class="mfc-header__content__link mfc-header__content__contact__button__contact-button" *ngIf="mfcProperties.contactInfo.open == 'popup'" (click)="popup(mfcProperties.contactInfo.url)"><i class="mfc-icon mfc-icon--phone"></i>{{ mfcProperties.contactButton }}</a>
                </div>
            </section>
            <div class="mfc-header__content__contact__send" *ngIf="mfcProperties.contactUs"><a class="mfc-header__content__link mfc-header__content__contact__send__label" href="{{mfcProperties.contactLink}}"><i class="mfc-icon mfc-icon--send mfc-header__content__contact__send__label__icon"></i>{{ mfcProperties.contactUs }}</a></div>
            <div class="mfc-header__content__richedContent" *ngIf="mfcProperties.richedContent">
                <mfc-riched-content [parentName]="mfcProperties.name" [mfcProperties]="{
                    'content': 'El descuento es x',
                    'visibleOnMobile': true,
                    'name': 'richedContent'
                 }"></mfc-riched-content>
            </div>
            <ul #contactList class="mfc-header__content__contact__list" *ngIf="mfcProperties.iconLinks && mfcProperties.iconLinks[0] && mfcProperties.iconLinks[0].url">
                <li class="mfc-header__content__contact__list__element" *ngFor="let link of mfcProperties.iconLinks" [class]="checkStyle(link.title)"><a class="mfc-header__content__link" href="href" (click)="openIconLinks(link.open, link.url)"><i class="mfc-icon mfc-icon--size {{link.icon}}" [ngClass]="{'mfc-icon--up' : mfcProperties.logoPosition!=='center','mfc-icon--small' : link.title }"></i>
                  <div class="mfc-u-inline mfc-header__content__contact__list__text">{{ link.title }}</div>
                </a></li>
            </ul>
        </section>
    </div>
</header>