@import '../styles.scss';
.mfc-header {
    background: $mfc-clr-mapfre-primary;
    &.mfc-header--fixed {
        position: fixed;
        width: 100%;
        z-index: 200;
    }
    .mfc-header__content__link {
        color: $mfc-white;
    }
    .mfc-header__content__link:hover {
        color: $mfc-white;
        text-decoration: none;
    }
    .mfc-header__precontent {
        background: $mfc-black-10;
        .mfc-header__precontent__container {
            height: 20px;
            padding: $mfc-standard-padding * 2 $mfc-standard-padding;
            position: relative;
            transform: translateY(-25%);
        }
        .mfc-header__precontent__main__logo {
            max-height: 35px;
            max-width: 135px;
        }
    }
    .mfc-header__content {
        color: $mfc-white;
        font-size: $mfc-fnt-s;
        height: 60px;
        padding: $mfc-sm-standard-padding 10px;
        .mfc-header__content__contact__button__contact-button {
            background: $mfc-white;
            border: 0;
            border-radius: $mfc-standard-border-radius;
            color: $mfc-clr-mapfre-primary;
            padding: $mfc-standard-padding;
            text-decoration: none;
            .mfc-icon {
                font-size: $mfc-fnt-xl;
                margin: 0 $mfc-standard-margin 0 0;
                vertical-align: middle;
            }
        }
        .mfc-icon--size {
            font-size: $mfc-fnt-xl;
        }
        .mfc-header__content__contact__list__text {
            display: none;
        }
        .mfc-header__content__heading {
            display: none;
            width: 35%;
            .mfc-header__content__heading__element {
                font-weight: bold;
            }
        }
        .mfc-header__content__main {
            float: left;
            margin: 0;
            top: 45%;
        }
        .mfc-header__content__main__logo {
            display: block;
            max-height: 35px;
            max-width: 135px;
        }
        .mfc-header__content__main__link {
            display: inline-block;
        }
        .mfc-header__content__contact {
            float: right;
            font-family: $mfc-font-family__notosans;
            font-size: $mfc-fnt-xs;
            text-align: right;
            width: 50%;
        }
        .mfc-header__content__contact__button {
            margin: 0;
        }
        .mfc-header__content__contact__send {
            font-size: 14px;
            letter-spacing: .5px;
            padding: 7px 0;
        }
        .mfc-header__content__richedContent {
            font-size: 14px;
            letter-spacing: .5px;
            padding: 7px 0;
            color: $mfc-white;
            padding-bottom: 5px;
            display: inline-block;
        }
        .mfc-header__content__contact__send__label {
            display: inline;
        }
        .mfc-header__content__contact__button__label {
            display: none;
            font-size: $mfc-fnt-m;
            margin: 0 10px;
        }
        .mfc-header__content__contact__list {
            display: inline-block;
            margin-top: 8px;
            padding: 0;
            width: 100%;
            .mfc-header__content__contact__list__element {
                display: inline;
                list-style: none;
                padding: 5px 10px 5px 15px;
                text-align: center;
            }
            .mfc-header__content__contact__list__element:not(:first-child) {
                border-left: 1px solid $mfc-red__lightest;
            }
            .mfc-header__content__contact__list__element:first-child {
                padding: 8px;
            }
            .mfc-header__content__contact__list__element:last-child {
                padding: 5px 0 5px 14px;
            }
        }
        .mfc-header__content__contact__phone {
            display: none;
            font-size: $mfc-h2;
            font-weight: bold;
            margin: 0;
            width: 100%;
            p.mfc-header__content__contact__phone__text {
                margin: 0;
            }
        }
        .mfc-header__content__contact__phone__icon {
            padding-right: 5px;
        }
        .mfc-header__content__contact__send__label__icon {
            font-size: 16px;
            padding-right: 15px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .mfc-header {
        .mfc-header__content__contact__button {
            margin-top: 10px;
        }
        .mfc-header__content__contact__button--not-unique {
            margin-top: 0;
        }
        .mfc-header__content__contact__button__contact-button {
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .mfc-header__content {
            .mfc-header__content__contact {
                margin-top: -4px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .mfc-header {
        .mfc-header__content__contact__button--not-unique {
            margin-top: 15px !important;
        }
        .mfc-header__content__contact__phone__icon {
            padding-bottom: 5px;
        }
        .mfc-header__precontent {
            .mfc-header__precontent__container {
                padding: 20px 15px;
            }
        }
        .mfc-header__content {
            height: 102px;
            padding: $mfc-lg-standard-padding $mfc-xl-standard-padding $mfc-md-standard-padding 15px;
            .mfc-header__content__contact {
                margin-top: 0;
                width: 45%;
                &:not(.mfc-u-vertical-alligned) {
                    .mfc-header__content__contact__list {
                        margin-top: 4px;
                    }
                }
            }
            .mfc-header__content__main--modified {
                &.mfc-header__content__main {
                    margin-top: -15px;
                }
            }
            .mfc-header__content__contact__phone--only-phone {
                font-size: 32px;
                &.mfc-header__content__contact__phone--only-phone--up {
                    margin-top: -6px;
                }
                .mfc-header__content__contact__phone__icon {
                    font-size: 28px;
                }
            }
            .mfc-header__content__main__logo {
                margin-left: -1px;
                max-width: 255px;
            }
            .mfc-header__content__contact__phone {
                display: block;
            }
            .mfc-header__content__contact__button__label {
                display: inline;
            }
            .mfc-header__content__contact__button__contact-button {
                cursor: pointer;
                font-size: 14px;
                padding: 10px 20px;
                .mfc-icon {
                    // display: none;
                }
            }
            .mfc-header__content__contact__list {
                .mfc-icon--size {
                    font-size: 30px;
                }
                .mfc-header__content__contact__list__element {
                    display: inline;
                    &:not(:last-child) {
                        .mfc-icon {
                            margin-left: 2px;
                        }
                    }
                    &:last-child {
                        .mfc-icon {
                            margin-right: 0;
                        }
                    }
                }
            }
            .mfc-header__content__contact__send {
                display: block;
                padding: 15px 0;
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    .mfc-header {
        .mfc-header__precontent {
            .mfc-header__precontent__container {
                margin: auto;
                max-width: 1200px;
                padding: $mfc-lg-standard-padding 0;
            }
            .mfc-header__precontent__main__logo {
                max-height: 20px;
                max-width: 180px;
            }
        }
        .mfc-header__content {
            height: 105px;
            margin: 0 auto;
            max-width: 1200px;
            padding: 24px 12px;
            .mfc-header__content__contact {
                margin-top: -2px;
                width: 37%;
                .mfc-u-vertical-alligned {
                    .mfc-header--padded {
                        top: 10px;
                    }
                }
            }
            .mfc-header__content__heading {
                display: inline-block;
                margin-top: -6px;
                width: 40%;
            }
            .mfc-header__content__contact__phone--only-phone {
                margin-bottom: 12px;
                &.mfc-header__content__contact__phone--only-phone--up {
                    font-size: 25px;
                    margin-top: -3px;
                    .mfc-header__content__contact__phone__icon {
                        font-size: 21px;
                    }
                }
            }
            .mfc-header__content__main--modified {
                &.mfc-header__content__main {
                    margin-top: -20px;
                }
            }
            .mfc-header__content__contact__list__text {
                display: inline;
                font-size: 14px;
            }
            .mfc-header__content__contact__phone {
                margin-bottom: 11px;
            }
            .mfc-header__content__contact__send {
                padding: 5px 0;
            }
            .mfc-header__content__main__logo {
                max-height: 25px;
                max-width: 200px;
            }
            .mfc-header__content__main {
                width: 23%;
            }
            .mfc-header__content__heading {
                display: inline-block;
                margin-top: -5px;
                width: 40%;
                .mfc-header__content__heading__element {
                    font-size: 25px;
                    margin: 0;
                }
                .mfc-header__content__heading__text {
                    display: table-cell;
                    font-size: $mfc-h3;
                    height: 60px;
                    margin: 0;
                    vertical-align: middle;
                    line-height: 1.5em;
                }
            }
            .mfc-header__content__contact__list {
                .mfc-header__content__contact__list__element {
                    &:last-child {
                        .mfc-icon {
                            margin-right: 2px;
                        }
                    }
                }
                &.mfc-header__content__contact__list--up {
                    margin-top: 5px;
                }
                .mfc-icon--up {
                    margin-top: -14px;
                }
                .mfc-icon--small {
                    font-size: 16px;
                    vertical-align: bottom;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mfc-header .mfc-header__content .mfc-header__content__contact {
        margin-top: -21px;
    }
}


/*@media screen and (max-width: 768px){
    .mfc-header {
      .mfc-header__content {
        .mfc-header__content__heading {
          display: inline-block;
          margin-top: -6px;
          width: 40%;
        }
      }
    }
  }*/

.mfc-u-rtl {
    .mfc-header {
        .mfc-header__content {
            .mfc-header__content__contact__button__contact-button {
                .mfc-icon {
                    margin: 0 0 0 $mfc-standard-margin;
                }
            }
            .mfc-header__content__main {
                float: right;
            }
            .mfc-header__content__contact {
                float: left;
                text-align: left;
            }
            .mfc-header__content__contact__list {
                .mfc-header__content__contact__list__element:not(:first-child) {
                    border-left: 0;
                    border-right: 1px solid $mfc-red__lightest;
                }
                .mfc-header__content__contact__list__element:last-child {
                    padding: 5px 12px 5px 0;
                }
            }
            .mfc-header__content__contact__phone__icon {
                padding-left: 5px;
                padding-right: 0;
            }
            .mfc-header__content__contact__send__label__icon {
                padding-left: 15px;
                padding-right: 0;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        .mfc-header {
            .mfc-header__content {
                padding: $mfc-lg-standard-padding 15px $mfc-md-standard-padding $mfc-xl-standard-padding;
                .mfc-header__content__contact__button__contact-button {
                    float: left;
                    margin-top: -10px;
                }
                .mfc-header__content__contact__list {
                    .mfc-header__content__contact__list__element {
                        padding: 5px;
                        &:not(:first-child) i {
                            margin-left: $mfc-standard-margin;
                            margin-right: 0;
                        }
                        &:last-child {
                            float: left;
                            margin-top: -5px;
                        }
                    }
                }
            }
        }
    }
}

@import 'src/styles.scss';
@media only screen and (min-width: 768px) {
    .mfc-header .mfc-header__content .mfc-header__content__main--modified.mfc-header__content__main {
        margin-top: 0 !important;
        top: 50% !important;
        position: absolute !important;
    }
}

@media only screen and (min-width: 960px) {
    .mfc-header .mfc-header__content .mfc-header__content__heading {
        display: inline-block !important;
        margin-top: 0 !important;
        width: 40% !important;
        position: absolute !important;
        top: 50% !important;
        -webkit-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
        left: 23%;
    }
}

@media only screen and (min-width: 960px) {
    .mfc-header .mfc-header__content {
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .mfc-header .mfc-header__content {
        height: 100% !important;
        overflow: hidden;
        position: relative;
    }
}