// **** MAIN COLORS
$mfc-black: #000;
$mfc-black__light: #333;
$mfc-blue: #03657e;
$mfc-gray: #777;
$mfc-gray__light: #aaa;
$mfc-gray__lighter: #d0d0d0;
$mfc-gray__radio: #909090;
$mfc-gray__summary: #e8e8e8;
$mfc-gray__dark: #7c7c7c;
$mfc-gray__darker: #4c4c4c;
$mfc-gray__super_dark: #444;
$mfc-gray__radio-checked: #666;
$mfc-gray__input-selected: #a1a1a1;
$mfc-gray__super_light: #e0dddd;
$mfc-gray__super_lighter: #eae7e7;
$mfc-gray__ultra_light: #ebebeb;
$mfc-disabled-light-gray: #e6e6e6;
$mfc-disabled-medium-gray: #c4c4c4;
$mfc-disabled-text: #c6c6c6;
$mfc-green__check: #91b62f;
$mfc-green: #45a500;
$mfc-green__light: #3cc800;
$mfc-green__dark: #27a916;
$mfc-green__disabled: #cae99b;
$mfc-red: #f00;
$mfc-red__light: #f44;
$mfc-red__dark: #c31f09;
$mfc-red__lighter: #fff3f2;
$mfc-red__lightest: #e87869;
$mfc-red__disabled: #f1b0a8;
$mfc-red__mapfre: #d81e05;
$mfc-red__mapfre2: #d81e05;
$mfc-red__mapfre3:#ac0404;
$mfc-red__mapfre2-01: rgba($mfc-red__mapfre2, .1);
$mfc-red__mapfre2-02: rgba($mfc-red__mapfre2, .3);
$mfc-turquoise: #26a69a;
$mfc-white: #fff;
$mfc-white__lighter: #fdfdfd;
$mfc-white__light: #f7f7f7;
$mfc-yellow: #ffdb00;
$mfc-gray-80: rgba(226, 222, 222, .8);
$mfc-black-10: rgba(0, 0, 0, .10);
$mfc-black-15: rgba(0, 0, 0, .15);
$mfc-black-20: rgba(0, 0, 0, .20);
$mfc-black-25: rgba(0, 0, 0, .25);
$mfc-black-50: rgba(0, 0, 0, .50);
$mfc-black-40: rgba(0, 0, 0, .40);
$mfc-black-75: rgba(0, 0, 0, .75);
$mfc-blue-focus: #4d90fe;

$mfc-placeholder: #a9a9a9;

// **** THEMES

// mapfre
$mfc-clr-mapfre-primary: $mfc-red__mapfre2;
$mfc-clr-mapfre-link: $mfc-red__mapfre;

//material
$mfc-clr-material-border: $mfc-gray__lighter;
$mfc-clr-material-border-bottom: #424242;
$mfc-clr-material-border2: $mfc-gray__light;

$mfc-link-button-default-hover: #BC1600;

// ** CHART SERIES
$mfc-chart-serie-1: #8d1403; // rgba(141, 20, 3, 1)
$mfc-chart-serie-2: #eb8d81; // rgba(235, 141, 129, 1)
$mfc-chart-serie-3: #d81e05; // rgba(216, 30, 5, 1)

$mfc-chart-serie-4: #008b48; // rgba(0, 139, 72, 1)
$mfc-chart-serie-5: #05d871; // rgba(5, 216, 113, 1)
$mfc-chart-serie-6: #85f7bf; // rgba(133, 247, 191, 1)
$gray_border: #e6e6e6;
$pension-dark-grey: #c4c4c4;
$pension-pink: #ffb9b9;

