// **** ICONS

.mfc-icon {
  display: inline-block;
  font-family: $mfc-font-family__mapfre-icons;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  text-transform: none;
}

.mfc-icon--acrobat::before {
  content: '\e91f';
}

.mfc-icon--arrow-next::before {
  content: '\e90a';
}

.mfc-icon--arrow-previous::before {
  content: '\e90b';
}

.mfc-icon--arrow-summary-2::before {
  content: '\e92a';
}

.mfc-icon--bike::before {
  content: '\e900';
}

.mfc-icon--calendar::before {
  content: '\e904';
}

.mfc-icon--car::before {
  content: '\e905';
}

.mfc-icon--check::before {
  content: '\e91c';
}

.mfc-icon--check-list::before {
  content: '\e91d';
}

.mfc-icon--comparison::before {
  content: '\e906';
}

.mfc-icon--detailed-budget::before {
  content: '\e921';
}

.mfc-icon--download::before {
  content: '\e908';
}

.mfc-icon--diagram-left::before {
  content: '\e918';
}

.mfc-icon--diagram-right::before {
  content: '\e919';
}

.mfc-icon--edit::before {
  content: '\e910';
}

.mfc-icon--ellipse::before {
  content: '\e922';
}

.mfc-icon--facebook::before {
  content: '\e914';
}

.mfc-icon--flower::before {
  content: '\e930';
}

.mfc-icon--footprint::before {
  content: '\e924';
}

.mfc-icon--forbidden::before {
  content: '\e933';
}

.mfc-icon--googleplus::before {
  content: '\e91a';
}

.mfc-icon--headset::before {
  content: '\e903';
}

.mfc-icon--health::before {
  content: '\e92b';
}

.mfc-icon--home::before {
  content: '\e923';
}

.mfc-icon--info::before {
  content: '\e90d';
}

.mfc-icon--linkedin::before {
  content: '\e931';
}

.mfc-icon--live-accident::before {
  content: '\e92e';
}

.mfc-icon--location::before {
  content: '\e90e';
}

.mfc-icon--microphone::before {
  content: '\e915';
}

.mfc-icon--minus::before {
  content: '\e91e';
}

.mfc-icon--motorbike::before {
  content: '\e911';
}

.mfc-icon--pension-plans::before {
  content: '\e92c';
}

.mfc-icon--plus::before {
  content: '\e90f';
}

.mfc-icon--pdf::before {
  content: '\e907';
}

.mfc-icon--phone::before {
  content: '\e916';
}

.mfc-icon--printer::before {
  content: '\e925';
}

.mfc-icon--question::before {
  content: '\e926';
}

.mfc-icon--saving::before {
  content: '\e920';
}

.mfc-icon--save::before {
  content: '\e90c';
}

.mfc-icon--search::before {
  content: '\e902';
}

.mfc-icon--see-coverage::before {
  content: '\e929';
}

.mfc-icon--send::before {
  content: '\e909';
}

.mfc-icon--star::before {
  content: '\e932';
}

.mfc-icon--trash::before {
  content: '\e901';
}

.mfc-icon--travel-leisure::before {
  content: '\e92d';
}

.mfc-icon--travels::before {
  content: '\e92f';
}

.mfc-icon--triangle-down::before {
  content: '\e912';
}

.mfc-icon--twitter::before {
  content: '\e917';
}

.mfc-icon--upload::before {
  content: '\e927';
}

.mfc-icon--user::before {
  content: '\e928';
}

.mfc-icon--warning::before {
  content: '\e913';
}

.mfc-icon--whatsapp::before {
  content: '\e91b';
}
.mfc-icon--triangle-right::before {
  content: "\e934";
}
.mfc-icon--triangle-right-red::before {
  content: "\e934";
  color:$mfc-red__dark;
}
.mfc-icon--turkish-currency::before {
  content: "\e935";
}
.mfc-icon--big-bus::before {
  content: "\e936";
}
.mfc-icon--bus::before {
  content: "\e937";
}
.mfc-icon--farm-equipment::before {
  content: "\e951";
}
.mfc-icon--light-vehicle::before {
  content: "\e952";
}
.mfc-icon--minibus::before {
  content: "\e953";
}
.mfc-icon--motorcycle::before {
  content: "\e954";
}
.mfc-icon--special-vehicle::before {
  content: "\e955";
}
.mfc-icon--taxi::before {
  content: "\e956";
}
.mfc-icon--tow::before {
  content: "\e957";
}
.mfc-icon--tractor::before {
  content: "\e958";
}
.mfc-icon--trailer::before {
  content: "\e959";
}
.mfc-icon--truck::before {
  content: "\e95a";
}
.mfc-icon--tanker::before {
  content: "\e95b";
}
.mfc-icon--gear::before {
  content: "\e95c";
}
.mfc-icon--medical-chart:before {
  content: "\e938";
}
.mfc-icon--direction-post:before {
  content: "\e939";
}
.mfc-icon--full-wallet:before {
  content: "\e93a";
}
.mfc-icon--medicine-box:before {
  content: "\e93b";
}
.mfc-icon--save-2:before {
  content: "\e93c";
}
.mfc-icon--education:before {
  content: "\e93d";
}
.mfc-icon--mortgage:before {
  content: "\e93e";
}
.mfc-icon--document-pdf:before {
  content: "\e93f";
}
.mfc-icon--holidays:before {
  content: "\e940";
}
.mfc-icon--quote:before {
  content: "\e941";
}
.mfc-icon--chevron-up:before {
  content: "\e95d";
}
.mfc-icon--chevron-down:before {
  content: "\e95e";
}
.mfc-icon--wallet:before {
  content: "\e942";
}
.mfc-icon--coins:before {
  content: "\e943";
}
.mfc-icon--hand-heart:before {
  content: "\e944";
}
.mfc-icon--plan:before {
  content: "\e945";
}
.mfc-icon--single:before {
  content: "\e946";
}
.mfc-icon--group:before {
  content: "\e947";
}
.mfc-icon--children:before {
  content: "\e948";
}