@media (max-width: 959px) {
    .mfc-u-input-size--default,
    .mfc-u-input-size--full,
    .mfc-u-input-size--xl,
    .mfc-u-input-size--l,
    .mfc-u-input-size--m,
    .mfc-u-input-size--s,
    .mfc-u-input-size--xs{
        width: 100%;
    }
}
