@import '../../styles.scss';
.mfc-riched-content {
    font-family: $mfc-font-family__notosans;
    a {
        color: $mfc-red__mapfre2;
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: $mfc-red__mapfre3;
            text-decoration: none;
        }
    }
    i,
    em {
        font-style: italic;
    }
    b,
    strong {
        font-weight: bold;
    }
    li {
        margin: 10px 0;
    }
    p {
        line-height: 22px;
    }
}

@media (max-width: 959px) {
    mfc-riched-content {
        font-size: $mfc-fnt-s;
    }
}