@import '../styles.scss';
.mfc-layout {
    overflow: hidden;
    &.content {
        padding: 0;
    }
    main {
        padding-left: 15px;
        padding-right: 15px;
        @media only screen and (max-width: 959px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .mfc-layout__main-container__aside {
        min-height: 73vh;
        background-position: bottom;
        .mfc-folding-box {
            background-color: #f5f5f5;
            h2 {
                font-size: 13px;
                padding-right: 18px;
                line-height: 14px;
                font-weight: normal;
            }
            .mfc-folding-box__collapse--faq {
                h2 {
                    font-weight: normal;
                }
            }
            &.mfc-folding-box--right-column .mfc-folding-box__title {
                padding-right: 13px;
            }
        }
    }
    @media(min-width: 960px) {
        .mfc-layout__main-container__aside {
            .mfc-cross-selling {
                padding: 25px 15px 15px;
            }
            .mfc-cross-selling__paragraph {
                font-size: 16px;
            }
            .mfc-price-box {
                &.mfc-price-box--column {
                    width: 100%;
                }
            }
        }
    }
    @media only screen and (min-width: 960px) {
        .mfc-layout__main-container__content {
            min-height: 73vh;
            border-right: solid 2px #f9f8f8;
            padding-right: 55px;
        }
        .mfc-layout__main-container__aside {
            padding-left: 55px;
        }
    }
    @media only screen and (max-width: 959px) {
        .mfc-layout__main-container__aside {
            min-height: 45vh;
        }
    }
    @media only screen and (max-width: 959px) {
        .mfc-layout__main-container__aside {
            border: solid $mfc-red 10px;
            display: none;
        }
        .mfc-layout__main-container__content {
            &.content {
                width: 100%;
                padding-right: 15px;
            }
        }
    }
}